body {
    background-color: rgb(136, 233, 144);
}
.nav {
    background-color: rgb(225,206,154);
}
.contenaire {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}
h5{
    text-align: center;
}
a{
    text-align: center;
}
h1{
    text-align:center;
}