.nav {
    background-color:rgb(225,206,154);

}
.card-title {
text-align: center;
}
.contenaire{
    margin-top:20px;
    margin-left:20px;
    margin-right:20px;
}
body {
    background-color: rgb(136, 233, 144);
}
h1{
    text-align:center;
}